.RenoveItemBox{
    width: 75vw;
    margin: auto;
    /* padding: 1rem 0; */
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
    /* border: 1px solid black; */
}

.RenoveItem{
    width: 100%;
}

.RenoveItem div img{
width: 100%;
height: 200px;
/* overflow: hidden; */
}
.RenoveItem h2{
    width: 100%;
    height: 53px;
    line-height: 1.6rem;
    margin: 0.5rem 0;
    /* border: 1px solid black; */
    word-break: break-all;
    overflow: hidden;
}
.author{
    height: 20px;
    width: 100%;
    overflow: hidden;
    /* border: 1px solid black; */
}
.contentActive{
    width: 100%;
    height: 53px;
    line-height: 1.5rem;
    overflow: hidden;
}
#Active{
    background-color: black;
    color: white;
    /* border: 10px solid black; */
}