*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
height: 10vh;
/* width: 100%; */
display: flex;
justify-content: space-around;
align-items: center;
background-color: aqua;
position: sticky;
top: 0;
}
/* .search{
    text-align: center;
} */
.logo{
    font-size: 2rem;
    font-weight: bold;
}
.menu a{
/* border: 1px solid black; */
cursor: pointer;
padding: 4px 9px;
margin:0 0.5rem;
}
.ModeChange{
  
    display: flex;
    justify-content: center;
}
.fa-moon{
    cursor: pointer;
    margin-left: 2rem;
    font-size: 1.5rem;
}

.ModeChange input{
    font-size: 1rem;
    padding: 0.2rem;
    outline: none;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.SearchBtn {
    font-size: 1rem;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}