*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-image: url("C:/Users/DELL/Desktop/reactProject/CovidData/public/pic/corona.jpg");
   padding-bottom: 10px;
}




.input_div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 2rem;
}
.input,#select,button{
    font-size: 1.2rem;
    outline: none;
    border: none;
    padding: 0.2rem 0.3rem;
    cursor: pointer;
}
#select{
    font-size: 1.1rem;
}
button{
    padding: 0.2rem 1rem;
    font-weight: bold;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}
.input{
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    padding: 0.2rem 0.8rem;
}






.state_data div,.date_data div{
    /* border: 1px solid black; */
    width: 250px;
    margin:auto;
    margin-top: 1rem;
    text-align: center;
    padding: 0.5rem 0;
    background-color: rgba(0, 255, 255, 0.533);
    border-radius: 2rem;
}
.state_data h1 , .date_data h1{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    /* color: white; */
}
.state_data p , .date_data p{
 font-size: 1.5rem;
 font-weight: bold;
 color: red;
}
img{
    width: 100%;
}