.new{
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
}



.new div {
  border: 2px solid black;
  padding: 30px;
  width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.new div input{
    font-size: 1rem;
    font-weight: bold;
    padding: 3px;
}
.new div button{
    font-size: 1rem;
    font-weight: bold;
    padding: 3px;
    cursor: pointer;
}
